---
import AdminUserInfo from '../components/AdminUserInfo';
import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/db.ts';
import { isAdmin } from '../lib/utils';
import AdminSection from '../components/AdminSection';

// @ts-ignore
const { cookies, redirect } = Astro;

const accessToken = cookies.get('sb-access-token');
const refreshToken = cookies.get('sb-refresh-token');

if (!accessToken || !refreshToken) {
	return redirect('/');
}

if (!(await isAdmin())) {
	return redirect('/');
}

const { error: userError, data: userData } = await supabase
	.from('user')
	.select('*');

if (userError) {
	console.log(userError);
	return redirect('/');
}

const { error: teamError, data: teamData } = await supabase
	.from('team')
	.select('*');

if (teamError) {
	console.log(teamError);
	return redirect('/');
}
---

<Layout title='Tag | Overseer'>
	<section class='max-w-3xl p-7 m-auto'>
		<div class='mb-8'>
			<h3>Players</h3>
		</div>
		{userData.map((user) => <AdminUserInfo client:idle user={user} />)}
	</section>

	<AdminSection client:load title='Teams' {userData} {teamData} client:idle />
</Layout>

<style>
	h3,
	button {
		font-size: 1.5rem;
		line-height: 2rem;
	}
</style>
