---
import Layout from '../layouts/Layout.astro';
import { supabase } from '$lib/db.ts';
import Name from '../components/Name';
import RunnerDashboard from 'src/components/RunnerDashboard';

const { cookies, redirect } = Astro;

const accessToken = cookies.get('sb-access-token');
const refreshToken = cookies.get('sb-refresh-token');

if (!accessToken || !refreshToken) {
	return redirect('/');
}

const {
	data: { session },
	error: e,
} = await supabase.auth.getSession();
// console.log(!!session, e);

if (!session || e) {
	return redirect('/api/auth/signout');
}

const { data, error } = await supabase
	.from('user')
	.select('id,name,team(*)')
	.eq('id', session!.user.id);

if (error) {
	redirect('/api/auth/signout');
}

const team = data![0]?.team;
---

<Layout title='Tag | Dashboard'>
	<header class='p-4 text-center flex gap-4 justify-end'>
		<Name client:idle user={data![0]!} />
		<a
			class='text-gray-700 hover:underline hover:text-gray-600'
			href='/api/auth/signout'>Sign Out</a
		>
	</header>

	{
		team && (
			<>
				<h2 class='text-center text-2xl font-semibold'>
					{team.name} (
					{team.role ? (
						<span
							class='font-medium'
							title={
								team.role === 'runner'
									? 'complete challenges'
									: 'tag the runners'
							}
						>
							{team.role[0]?.toUpperCase() + team.role.slice(1)}
						</span>
					) : (
						'No role assigned yet'
					)}
					)
				</h2>
				<main class='m-4'>
					<RunnerDashboard client:load {team} />
				</main>
			</>
		)
	}
</Layout>
